<div id="myCarousel" class="carousel slide" data-ride="carousel">
  
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img style="position: relative;" src="images/index4.jpg" alt="rest">
         </div>
  </div> 
</div>

