a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  &:hover, &:visited, &:active, &:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  }
}


.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.product_name a:hover {
  color: #0e8ce4;
}

.product_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(203, 225, 238, 0.3);
}

.margin-bottom-md {
  margin-bottom: 25px;
}

.margin-bottom-lg {
  margin-bottom: 40px;
}

.position-relative {
  position: relative;
}

.characteristics {
  padding-top: 40px;
  padding-bottom: 70px;
}

.char_item {
  width: 100%;
  height: 100px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border: solid 1px #e8e8e8;
  padding-left: 36px;
}

.char_icon {
  margin-right: 24px;
  i {
    font-size: 34px;
    color: #3192e6;
  }
}

.char_content {
  transform: translate(-1px, 3px);
}

.char_title {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  font-family: Rooto;
}

.char_subtitle {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 3px;
}


.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #ebeeef;
}

.wrap-login100 {
  width: 670px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.login100-form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 15px 74px 15px;
}

.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 43px 88px 93px 190px;
}

.login100-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54, 84, 99, 0.7);
}

.login100-form-title-1 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.login-box {
  padding: 70px 0;
}

.form-signin input {
  &[type="text"], &[type="password"], &[type="email"] {
    margin-bottom: 15px;
  }
}

.remember-box {
  left: 20px;
  position: relative;
}

.login-links {
  margin-top: 15px;
  text-align: center;
  a {
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    color: #828282;
    font-family: Roboto;
    &:first-child {
      margin-right: 25px;
    }
    &:hover {
      color: #0e8ce4;
    }
  }
}

.m-0 {
  margin: 0 !important;
}

#user-profile {
  padding: 40px 0 60px 0;
  .avatar {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}